@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
// для додавання в стилі: @extend %list;
%list {
  list-style: none;
}
// для додавання в стилі: @extend %link;
%link {
  text-decoration: none;
  color: currentColor;
}
