.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;

  @include for-size-mobile($width-mobile);
  @include for-size-tablet($width-tablet);
  @include for-size-desktop($width-desktop);
}
