// ul {
//   list-style: none;
// }

.drop-down-list-btn {
  display: block;
  color: #4440F6;
  border-color: transparent;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.drop-down-list-btn:hover {
  text-decoration: underline;
  text-decoration-color: #4440F6;
}

.categories-btn-wrapper {
  display: block;

}

// .filter-category__item-bt {
//   display: block;
// }

.category-btn {
  cursor: pointer;
  display: block;
}

.category-btn--active {
  color: #FFFFFF;
  background-color: #4440F6;
  border-color: #4B48DB;

}

// .filter-category__item-bt--active {
//   // .category-btn--active {
//   color: #FFFFFF;
//   background-color: #4440F6;
//   border-color: #4B48DB;

// }

.btn-wrapper {
  display: flex;
  gap: 14px;
}

.categories__container {
  display: flex;

}

.drop-down-wrapper {
  display: none;
}

.drop-down-wrapper--active {
  display: block;
  position: absolute;
  width: 148px;
  max-height: 380px;
  border-radius: 20px;
  background-color: #F8F8F8;
  text-align: left;
  overflow: scroll;
  z-index: 200;
}

// .categories-filter__other-btn {
//   border-color: #4B48DB;
// }

// .categories-filter__other-btn.active {
//   color: #FFFFFF;
//   background-color: #4440F6;
//   border-color: #4B48DB;
// }