ul {
  list-style: none;
}

.drop-down-list-btn {
  display: block;
}

.categories-btn-wrapper {
  display: block;

}

.filter-category__item-bt {
  display: block;

}

.filter-category__item-bt--active, 
.drop-down-wrapper--active {
  color: #FFFFFF;
  background-color: #4440F6;
  border-color: #4B48DB;
}

.btn-wrapper {
  display: flex;
  gap: 14px;
}

.categories__container {
  display: inline-block;

}

.categories-other-dropdown {
  display: flex;
}

.drop-down-wrapper {
  display: none;
}

.drop-down-wrapper--active {
  display: block;

}

.categories-filter__other-btn {
  border-color: #4B48DB;
}

.categories-filter__other-btn.active {
  color: #FFFFFF;
  background-color: #4440F6;
}