ul {
  list-style: none;
}

.drop-down-list-btn {
  display: block;
  color: #4440F6;
  border-color: transparent;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.drop-down-list-btn:hover {
  text-decoration: underline;
  text-decoration-color: #4440F6;
}

.categories-btn-wrapper {
  display: block;

}

.filter-category__item-bt {
  display: block;

}

.filter-category__item-bt--active, 
.drop-down-wrapper--active {
  color: #FFFFFF;
  background-color: #4440F6;
  border-color: #4B48DB;
}

.btn-wrapper {
  display: flex;
  gap: 14px;
}

.categories__container {
  display: inline-block;

}

.drop-down-wrapper {
  display: none;
}

.drop-down-wrapper--active {
  display: flex;
  width: 148px;
  max-height: 380px;
  border-radius: 20px;
  background-color: #F8F8F8;
  text-align: left;
  overflow: scroll;
  display: block;

}

.categories-filter__other-btn {
  border-color: #4B48DB;
}

.categories-filter__other-btn.active {
  color: #FFFFFF;
  background-color: #4440F6;
}
