.logo {
  display: block;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  color: #111321;
  text-decoration: none;
}
.menu {
  display: none;
}
.menu-desc {
  list-style: none;
  display: flex;
}
.menu-item-desc {
  margin-right: 70px;
}
.menu-item-desc:last-child {
  margin-right: 0;
}
.menu-desc-link {
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #111321;
}
.menu-desc-link--active {
  border-bottom: 1px solid #4440f6;
  padding-bottom: 5px;
}
.search-input {
  border: 1px solid #111321;
  border-radius: 20px;
  padding-left: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #111321;
}
.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.search-btn {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/mob/searc-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.form-search {
  position: relative;
}
.header-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 1250px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.theme-icon {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #5f6775;
}
.light-theme-icon {
  margin-right: 13px;
}
.dark-theme-icon {
  margin-left: 13px;
}
//Theme switcher
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  left: 1px;
  bottom: 1px;
  background-color: #4b48db;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4b48db;
}
input:checked + .slider:before {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4b48db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border: 1px solid #4b48db;
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

//   /* Change theme */
.light-theme {
  background-color: #ffffff;
  color: #111321;
}

.dark-theme {
  background-color: #686868;
  color: #f4f4f4;
}
.dark-theme .logo {
  color: #ffffff;
}
.dark-theme .search-input {
  border: 1px solid #ffffff;
  color: #f4f4f4;
  opacity: 1;
  background-color: #686868;
}
.dark-theme .search-input::placeholder {
  color: #f4f4f4;
  opacity: 0.4;
}
.dark-theme .search-btn,
.dark-theme .form-open {
  background-image: url('../images/mob/search-btn-dark-theme.svg');
}
.dark-theme .menu-open {
  background-image: url('../images/mob/menu-dark-theme.svg');
}
.dark-theme .menu-item a,
.dark-theme .menu-desc-link {
  color: #ffffff;
}
.dark-theme .dark-theme-text {
  color: #4440f7;
}
.light-theme .light-theme-text {
  color: #4440f7;
}

.dark-theme .menu-close {
  background-image: url('../images/mob/x-dark-theme.svg');
}
.dark-theme .light-theme-icon {
  background-image: url('../images/mob/sun-dark-theme-2.svg');
}
.dark-theme .dark-theme-icon {
  background-image: url('../images/mob/moon-dark-theme.svg');
}

@media screen and(min-width: 768px) and (max-width: 1279px) {
  .header-desc {
    width: 760px;
  }
  .menu {
    display: none;
  }
  .logo {
    font-size: 32px;
    line-height: 44px;
  }
  .menu-desc-link {
    font-size: 16px;
    line-height: 22px;
  }
  .search-input {
    width: 213px;
  }
  .theme-text {
    display: none;
  }
  .theme-icon {
    display: inline-block;
  }
  .light-theme-icon {
    margin-right: 10px;
    width: 21px;
    height: 21px;
    background-image: url('../images/mob/light-theme-icon.svg');
  }
  .dark-theme-icon {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-image: url('../images/mob/dark-theme-icon.svg');
  }
  .theme-switcher {
    display: flex;
  }
  .menu-item-desc {
    margin-right: 44px;
  }
}
@media screen and(min-width: 320px) and (max-width: 767px) {
  .header-desc {
    width: 320px;
    height: 73px;
  }
  .logo {
    font-size: 24px;
    line-height: 33px;
  }
  .navigation-desc {
    display: none;
  }
  .theme-switcher {
    display: none;
  }
  .form-search {
    display: none;
  }
  .menu-open {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/mob/menu.svg');
  }
  .form-open {
    display: block;
    margin-right: 18px;
    width: 15px;
    height: 15px;
    background-image: url('../images/mob/searc-icon.svg');
  }
  .menu-close {
    display: none;
    margin-right: 18px;
    width: 24px;
    height: 24px;
    background-image: url('../images/mob/x.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-buttons {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  .search-input {
    width: 173px;
  }
  .menu {
    list-style: none;
    width: 100vw;
    height: 100vh;
    padding-top: 68px;
  }
  .menu-item {
    position: relative;
    width: 320px;
    margin: 0 auto;
  }
  .menu-item a {
    display: block;
    padding: 11px 0 11px 62px;
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #111321;
  }
  .menu-item a::before {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 32px;
    height: 32px;
    border: 1px solid #4440f6;
    background-color: #4440f6;
    border-radius: 50;
    color: #f4f4f4;
  }
  .menu-item-home a::before {
    background-image: url('../images/mob/home-icon.svg');
  }
  .menu-item-favor a::before {
    background-image: url('../images/mob/favorites-icon.svg');
  }
  .menu-item-read a::before {
    background-image: url('../images/mob/book-open.svg');
  }
  .menu-item-active {
    background-color: #4440f6;
  }
  .menu-item-active a {
    color: #f4f4f4;
  }
  .menu-item-active a::before {
    border: 1px solid #f4f4f4;
  }
  .menu-item-active a::after {
    display: block;
    content: '';
    background-image: url('../images/mob/next-icon.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .theme-switcher {
    width: 320px;
    margin: 0 auto;
    position: absolute;
    left: 16px;
    bottom: 18px;
  }
  .theme-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .theme-text {
    display: none;
  }
  .light-theme-icon {
    margin-right: 10px;
    width: 21px;
    height: 21px;
    background-image: url('../images/mob/light-theme-icon.svg');
  }
  .dark-theme-icon {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-image: url('../images/mob/dark-theme-icon.svg');
  }
}
