// міксин для стилізації тексту
// для додавання в стилі: @include text(700, 32px, 44px, -0.01em);
@mixin text($font-weight, $font-size, $line-height, $letter-spacing) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: calc($line-height/$font-size);
  letter-spacing: $letter-spacing;
}
//  міксини для медіа запитів з вказаною шириною
// використовувати в коді: @include for-size-mobile ($width-desktop){використання інших стилів};
@mixin for-size-mobile($width) {
  @media (min-width: 320px) {
    width: $width;
    @content;
  }
}

@mixin for-size-tablet($width) {
  @media (min-width: 768px) {
    width: $width-tablet;
    @content;
  }
}

@mixin for-size-desktop($width) {
  @media (min-width: 1280px) {
    width: $width-desktop;
    @content;
  }
}
