<section class="categories">
  <div class="container categories__container">
    <div class="categories-btn-wrapper">
    </div>
    <div class="categories-other-dropdown">
      <button type="button" class="categories-filter__other-btn">
        <span class="others-span">Others</span>
        <svg aria-label="arrow-down" class="open-others-categories" width="14" height="14">
          <use href="/src/images/symbol-defs.svg#icon-down-arrow"></use>
        </svg>
      </button>
      <div id="drop-down" class="drop-down-wrapper">
      </div>
    </div>
    <div class="calendar"></div>
  </div>
</section>