<div class="container">
  <div class="news-gallery">
    <!-- Картки новин -->

    <!--
 `
    <div class="news-gallery__item">
    <a class="news-gallery__image" href="${web_url}">
        <div class="news-gallery__img-container"><img src="${imageURL}" 
            alt="${keywordsMap}" loading="lazy"/></div>
    </a>
    <div class="news-gallery__info">
      <p class="news-gallery__header">${headline}</p>
      <p class="news-gallery__abstract">${abstract}</p>
      <p class="news-gallery__pub_date">${pub_date}</p>
    </div>
    <a class="news-gallery__read-more" href="${web_url}">Read more...</a>
    </div>
        `;

    -->
  </div>

  <!--button type="button" class="load-more">Load more</button-->
</div>
