<header class="header container">
  <a href="./index.html" class="logo">News</a>
  <div class="form-container">
    <form class="search-form">
      <input
        class="search-input"
        type="text"
        name="search_input"
        id="for_search"
        placeholder="Search |"
      />
      <button
        class="btn-reset search-btn-icon show-search-input-btn"
        type="button"
      ></button>
      <button
        class="btn-reset search-btn-icon search-btn hide"
        type="submit"
      ></button>
    </form>
    <button class="btn-reset menu-open-btn"></button>
    <nav class="navigation"></nav>
  </div>
</header>
<div class="outline"></div>
