<header class="header">
  <div class="header-desc">
    <a href="/src/index.html" class="logo">News</a>
    <nav class="navigation-desc">
      <ul class="menu-desc">
        <li class="menu-item-desc">
          <a class="menu-desc-link menu-desc-link--active" href="#">Home</a>
        </li>
        <li class="menu-item-desc">
          <a class="menu-desc-link" href="#">Favorite</a>
        </li>
        <li class="menu-item-desc">
          <a class="menu-desc-link" href="#">Read</a>
        </li>
      </ul>
    </nav>
    <form class="form-search">
      <button class="btn-reset search-btn" type="submit"></button>
      <input
        class="search-input"
        type="text"
        name="search_input"
        id="for_search"
        placeholder="Search |"
      />
    </form>
    <div class="mobile-buttons">
      <button class="btn-reset form-open" type="button"></button>
      <button class="btn-reset menu-open" type="button"></button>
      <button class="btn-reset menu-close" type="button"></button>
    </div>
    <div class="theme-switcher">
      <span class="theme-text light-theme-text">Light</span>
      <span class="theme-icon light-theme-icon"> </span>
      <label class="switch">
        <input type="checkbox" checked id="theme-toggle" />
        <span class="slider round"></span>
      </label>
      <span class="theme-text dark-theme-text">Dark</span>
      <span class="theme-icon dark-theme-icon"></span>
    </div>
  </div>
  <nav class="navigation-mob">
    <ul class="menu">
      <li class="menu-item menu-item-home">
        <a href="#">Home</a>
      </li>
      <li class="menu-item menu-item-favor">
        <a href="#">Favorite</a>
      </li>
      <li class="menu-item menu-item-read"><a href="#">Read</a></li>
    </ul>
  </nav>

  <!-- <div class="wrap container">
    <a href="./index.html" class="logo">News</a>
    <div class="form-container">
      <form class="search-form">
        <input
          class="search-input"
          type="text"
          name="search_input"
          id="for_search"
          placeholder="Search |"
        />
        <button
          class="btn-reset search-btn-icon show-search-input-btn"
          type="button"
        ></button>
        <button
          class="btn-reset search-btn-icon search-btn hide"
          type="submit"
        ></button>
      </form>
      <button class="btn-reset menu-open-btn"></button>
    </div>
    <button class="btn-reset menu-close-btn hide"></button>
  </div>
  <nav class="navigation hide">
    <ul class="menu">
      <li class="menu-item menu-item-home">
        <a href="#">Home</a>
      </li>
      <li class="menu-item menu-item-favor">
        <a href="#">Favorite</a>
      </li>
      <li class="menu-item menu-item-read"><a href="#">Read</a></li>
    </ul>
  </nav> -->
</header>
<!-- <div class="theme-switcher container hide">
  <span class="light-theme-icon"></span>
  <label class="switch">
    <input type="checkbox" checked id="theme-toggle" />
    <span class="slider round"></span>
  </label>
  <span class="dark-theme-icon"></span>
</div>
<div class="outline"></div> -->
